$color-one: white;
$color-two: #ffd32a

/* Start */

.start {
    background-image: url("https://images.pexels.com/photos/3839648/pexels-photo-3839648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.navigation {
    display: flex;
}

.name {
    margin: 10px;
    font-size: 25px;
    padding-top: 10px;
    color: $color-two;
    text-decoration: none;
    font-size: 45px;
    
}

.navigation ul{
    list-style-type: none;
    text-align: right;
} 

.navigation ul li {
    display: inline-block;
    margin: 10px;
}

.navigation ul li a {
    color: $color-one;
    text-decoration: none;
    font-size: 25px;
    font-variant: small-caps;
}

.title-page {
    margin: 30px 20px;
    height:100vh;
}

.title {
    color: $color-one;
    font-size: 60px;
}

.subtitle {
    color: $color-one;
    font-variant: small-caps;
    font-size: 72px;
}